swagger: '2.0'
info: {title: MSFT Teams Admin, description: This connector utilizes the graph
    api actions associated with the Microsoft Teams available actions., version: '1.0'}
host: graph.microsoft.com
basePath: /
schemes: [https]
consumes: []
produces: []
paths:
  /beta/$batch:
    post:
      responses:
        default:
          description: default
          schema: {type: string}
      summary: Batch Request
      description: This action allows administrators to run batch api calls against
        the Graph API batch actions.
      operationId: Batch
      x-ms-visibility: important
      parameters:
      - name: body
        in: body
        required: false
        schema:
          type: object
          properties: {}
        x-ms-visibility: important
  /v1.0/teams/{teamid}/clone:
    post:
      responses:
        default:
          description: default
          schema: {}
      summary: Clone A Team
      description: This action allows administrators to clone an existing MSFT Team.
        This action also creates a copy of the corresponding group and allows you
        to specify which parts of the team you wish to to clone
      operationId: CloneATeam
      parameters:
      - {name: teamid, in: path, required: true, type: string}
      - name: body
        in: body
        required: false
        schema:
          type: object
          properties:
            displayName: {type: string, description: displayName}
            description: {type: string, description: description}
            mailNickname: {type: string, description: mailNickname}
            partsToClone: {type: string, description: partsToClone}
            visibility: {type: string, description: visibility}
  /v1.0/teams/{Teamid}/channels/{Channelid}/tabs:
    get:
      responses:
        default:
          description: default
          schema: {}
      summary: Get Tabs
      description: This action allows administrators to query all tabs associated
        with a given team and channel.
      operationId: GetTabs
      parameters:
      - {name: Teamid, in: path, required: true, type: string}
      - {name: Channelid, in: path, required: true, type: string}
  /beta/teams/{team}/channels/{channel}/messages/{messageid}/replies:
    get:
      responses:
        default:
          description: default
          schema: {}
      parameters:
      - {name: team, in: path, required: true, type: string}
      - {name: channel, in: path, required: true, type: string}
      - {name: messageid, in: path, required: true, type: string}
      summary: Message Replies
      description: This action allows administrators to return all message replies
        from a given ID & can be paired with the Get-Messages action to return all
        messages within a Teams Channel.
      operationId: MessageReplies
  /v1.0/teams/{Teamid}/channels/{Channelid}/tabs/{TabID}:
    delete:
      responses:
        default:
          description: default
          schema: {}
      summary: Tab Removal
      description: This action allows administrators to remove a specific Tab from
        a given Teams Channel.
      operationId: TabRemoval
      parameters:
      - {name: Teamid, in: path, required: true, type: string}
      - {name: Channelid, in: path, required: true, type: string}
      - {name: TabID, in: path, required: true, type: string}
  /v1.0/teams/{id1}/channels/{id2}:
    delete:
      responses:
        default:
          description: default
          schema: {}
      summary: Delete Channel
      description: This action allows administrators to remove a specific channel
        from a given Team.
      operationId: DeleteChannel
      parameters:
      - {name: id1, in: path, required: true, type: string}
      - {name: id2, in: path, required: true, type: string}
  /v1.0/groups/{teamid}/members/$ref:
    post:
      responses:
        default:
          description: default
          schema: {}
      summary: Add Team Member
      description: This action allows administrators to add members to an existing
        MSFT Team.
      operationId: AddTeamMember
      parameters:
      - {name: teamid, in: path, required: true, type: string}
      - name: body
        in: body
        required: false
        schema:
          type: object
          properties:
            '@odata.id': {type: string, description: '@odata.id'}
  /v1.0/groups/{teamid}:
    get:
      responses:
        default:
          description: default
          schema: {}
      summary: Get Team
      description: This action allows administrators to query a given team by GroupID.
      operationId: GetTeam
      parameters:
      - {name: teamid, in: path, required: true, type: string}
  /v1.0/teams/{teamid}/channels:
    get:
      responses:
        default:
          description: default
          schema: {}
      summary: Get Channels
      description: This action allows administrators to retrieve all Channels from
        the provided Team ID.
      operationId: GetChannels
      parameters:
      - {name: teamid, in: path, required: true, type: string}
    post:
      responses:
        default:
          description: default
          schema: {}
      summary: Add a Channel
      description: This action allows administrators to create a new Channel from
        the provided Team ID.
      operationId: AddChannel
      parameters:
      - {name: teamid, in: path, required: true, type: string}
      - name: body
        in: body
        required: false
        schema:
          type: object
          properties:
            displayName: {type: string, description: displayName}
            description: {type: string, description: description}
  /v1.0/teams/{teamsid}/channels/{channelid}:
    patch:
      responses:
        default:
          description: default
          schema: {}
      summary: ChannelRename
      description: This action allows administrators to rename an existing Channel
        from the provided Team and Channel ID.
      operationId: ChannelRename
      parameters:
      - {name: teamsid, in: path, required: true, type: string}
      - {name: channelid, in: path, required: true, type: string}
      - name: body
        in: body
        required: false
        schema:
          type: object
          properties:
            displayName: {type: string, description: displayName, title: ''}
  /v1.0/groups/{teamid}/owners/$ref:
    post:
      responses:
        default:
          description: default
          schema: {}
      summary: Add Owner
      description: This action allows administrators to add owners to an existing
        MSFT Team.
      operationId: AddOwner
      parameters:
      - {name: teamid, in: path, required: true, type: string}
      - name: body
        in: body
        required: false
        schema:
          type: object
          properties:
            '@odata.id': {type: string, description: '@odata.id', title: '', default: 'https://graph.microsoft.com/v1.0/users/'}
  /v1.0/groups/{teamid}/members/{userid}/$ref:
    delete:
      responses:
        default:
          description: default
          schema:
            type: object
            properties:
              responses:
                type: array
                items:
                  type: object
                  properties:
                    status: {type: integer, format: int32, description: status}
                    headers:
                      type: object
                      properties:
                        Cache-Control: {type: string, description: Cache-Control}
                      description: headers
                    body: {type: string, description: body}
                description: responses
      summary: Remove Member of Team
      description: This action allows administrators to remove members of an existing
        MSFT Team.
      operationId: RemoveMemberofTeam
      parameters:
      - {name: teamid, in: path, required: true, type: string}
      - {name: userid, in: path, required: true, type: string}
  /v1.0/teams/{Tid}/channels/{Cid}/tabs:
    post:
      responses:
        default:
          description: default
          schema: {}
      summary: Add Teams Tab
      description: This action allows administrators to add a new tab to an existing
        MSFT Team & Channel.
      operationId: AddTab
      parameters:
      - {name: Tid, in: path, required: true, type: string}
      - {name: Cid, in: path, required: true, type: string}
      - name: body
        in: body
        required: false
        schema:
          type: object
          properties:
            displayName: {type: string, description: displayName}
            teamsApp@odata.bind: {type: string, description: teamsApp@odata.bind}
            configuration:
              type: object
              properties:
                entityId: {type: string, description: entityId}
                contentUrl: {type: string, description: contentUrl}
                websiteUrl: {type: string, description: websiteUrl}
                removeUrl: {type: string, description: removeUrl}
              description: configuration
  /v1.0/teams: {}
  /v1.0/groups:
    get:
      responses:
        default:
          description: default
          schema: {}
      summary: Get Team by Name
      description: This action allows administrators to query a specific MSFT Team
        by name instead of utilizing the GroupID.
      operationId: SpecificTeam
      parameters:
      - {name: $filter, in: query, required: false, type: string}
definitions: {}
parameters: {}
responses: {}
securityDefinitions:
  oauth2_auth:
    type: oauth2
    flow: accessCode
    authorizationUrl: https://login.windows.net/common/oauth2/authorize
    tokenUrl: https://login.windows.net/common/oauth2/authorize
    scopes: {}
security:
- oauth2_auth: []
tags: []
